body {
    height: 100%;
    width: 100%;
    background-image: url('img/backimg.jpg');
    background-repeat : no-repeat;
    background-size : cover;
}

.txt {
    margin-top: 300px;
    margin-left: 50px;
    font-family: 'Nanum Brush Script', cursive;
    color: 		#162b3b;

}
@keyframes cursor{
    50%{ border-color: transparent; }
  }
   
  .text{
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    height: 50px;
    border-right: .05em solid black;
    animation: cursor 0.5s ease infinite;
  }